{deps_dir, [deps]}.
{erl_opts,
  [
    {i, "./include"},
    {i, "./src/hrl"}
  ]}.

{pre_hooks,
  [
  ]
}.
{deps,
  [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.1"}},
    {rz_util, ".*", {git, "git@bitbucket.org:AVNechaev/rz_util.git", "master"}},
    {iqfeed_client, ".*", {git, "git@bitbucket.org:AVNechaev/iqfeed_client.git", "master"}},
    {erlmc, ".*", {git, "git@bitbucket.org:AVNechaev/erlmc.git", "master"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", "v2.12.2"}},
    {webmachine, ".*", {git, "https://github.com/webmachine/webmachine.git", "master"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql", "master"}},
    {erlang_localtime, ".*", {git, "git@bitbucket.org:AVNechaev/erlang_localtime.git", "master"}}
  ]}.

{sub_dirs, ["rel"]}.
