{deps_dir, [deps]}.
{erl_opts,
  [
    {i, "./include"},
    {i, "./src/hrl"}
  ]}.

{pre_hooks,
  [
  ]
}.
{deps,
  [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {rz_util, ".*", {git, "git@bitbucket.org:AVNechaev/rz_util.git", {branch, "master"}}},
    {iqfeed_client, ".*", {git, "git@bitbucket.org:AVNechaev/iqfeed_client.git", {branch, "master"}}},
    {erlmc, ".*", {git, "git@bitbucket.org:AVNechaev/erlmc.git", {branch, "master"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", {branch, "v2.12.2"}}},
    {webmachine, ".*", {git, "https://github.com/webmachine/webmachine.git", {branch, "master"}}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql", {branch, "master"}}},
    {erlang_localtime, ".*", {git, "git@bitbucket.org:AVNechaev/erlang_localtime.git", {branch, "master"}}},
    {recon, ".*", {git, "https://github.com/ferd/recon", {branch, "master"}}}
  ]}.

{relx,
  [
    {release, {rz_server, "0.1.0"}, [rz_server]},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {include_src, false}
  ]
}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles,
  [
    {prod,
      [
        {relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]},
        {erl_opts, [no_debug_info, warnings_as_errors]}
      ]}
  ]
}.



