{deps_dir, [deps]}.
{erl_opts,
  [
    {i, "./include"},
    {i, "./src/hrl"}
  ]}.
{deps, 
  [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.1"}},
    {iqfeed_client, ".*", {git, "ssh://192.168.1.240/home/anechaev/privrepos/iqfeed_client.git", "master"}}
  ]}.

{sub_dirs, ["rel"]}.
