[
  {lager,
    [{handlers,
      [{lager_console_backend, info},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
        {lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
      ]},
      {crash_log, "log/crash.log"},
      {crash_log_msg_size, 65536},
      {crash_log_size, 10485760},
      {crash_log_date, "$D0"},
      {crash_log_count, 5},
      {error_logger_redirect, true}]},

  {iqfeed_client,
    [
      {iqfeed_ip, "127.0.0.1"},
      {iqfeed_l1_port, 5009},
      {iqfeed_l2_port, 5010},
      %{timezone_hours, -3}, %%разница между UTC и временем на бирже
      {instr_file, "/tmp/iqinstr.csv"},
      {instr_file_header, 1}, %%размер заголовка файла инструментов (акций),
      {instr_defaults, [<<"SPX.XO">>]}, %% список инструментов, используемых всегда
      {instr_watch_command, <<"t">>}, %% w for FOREX, t for stock market
      {timezone, "America/New_York"},
      %% время начала сессии - {Час, Минута, Секунда} задается в локальном часовом поясе
      {trading_start, {9, 30, 00}},
      {max_forward_time, 10}, %%кол-во секунд, на которое тик может быть "в будущем" относительно текущего времени сервера (UTC)
      {enable_ticks_at_dayoffs, false}, %%не читать тики в выходные дни (6,7 в calendar:day_of_the_week/1,
      {tick_dump_enable, false},
      {tick_dump_max_size, 10240000},
      {tick_dump, "/tmp/tickdump.csv"} %% файл, в который будут сбрасываться тики от IQFeed
    ]
  },
  {gdax_client,
    [
      {gdax_addr, "ws-feed.gdax.com"},
      {gdax_port, 443},
      {enabled, false}
    ]
  },
  {polygon_client,
    [
      {ws_addr, "socket.polygon.io"},
      {ws_port, 443},
      {api_key, "--"},
      {enabled, false},
      {
        currencies,
        [
          <<"AUDJPY.FXCM">>,
          <<"AUDUSD.FXCM">>,
          <<"CADJPY.FXCM">>,
          <<"CHFJPY.FXCM">>,
          <<"EURGBP.FXCM">>,
          <<"EURJPY.FXCM">>,
          <<"EURUSD.FXCM">>,
          <<"GBPJPY.FXCM">>,
          <<"GBPUSD.FXCM">>,
          <<"NZDJPY.FXCM">>,
          <<"NZDUSD.FXCM">>,
          <<"USDJPY.FXCM">>
        ]
      }
    ]
  },
  {rz_server,
    [
      {frames,
        [
          {
            %%уникальное имя тайм-фрейма
            daily,
            [
              %% 12 часов - должно быть больше, чем время сессии, и trading_start+duration должно быть меньше 24 часов
              %% в секундах;
              {duration, 43200},
              %% количество свечек в истории для рассчитывания паттернов
              {history_depth, 22},
              %% проверять ли создание буферов для истории при получении обновления;
              %% если false - то тратим больше памяти в ETS,
              %% если true - то время на проверку наличия в буфере
              {buffers_on_the_fly, false},
              %% скоколько времени проходит от поступления тика в текущей свече до закрытия свечи без дальнейших тиков (в сек)
              {reinit_timeout, 30},
              %% фрейм, который передает уведомления на срабатывания паттернов
              {fires_data, false},
              %% время открытия биржи (ака время открытия первого фрейма);
              {stock_open, [{timezone, "America/New_York"}, {time, {9,30,0}}]}
            ]
          },
          {one_minute, [{duration, 60}, {history_depth, 10}, {buffers_on_the_fly, false}, {reinit_timeout, 30}, {fires_data, false}, {stock_open, [{timezone, "America/New_York"}, {time, {9,30,0}}]}]},
          {ten_minutes, [{duration, 600}, {history_depth, 10}, {buffers_on_the_fly, false}, {reinit_timeout, 30}, {fires_data, true}, {stock_open, [{timezone, "America/New_York"}, {time, {9,30,0}}]}]}
        ]
      },
      %% описание SMA данных (см также patterns_lexer.xrl)
      {sma, [{sma20, <<"sma20">>, 20}, {sma50, <<"sma50">>, 50}, {sma200, <<"sma200">>, 200}]},
      %%модуль, используемый для расчета таймфреймов
      %% есть timeframe_worker - все свечи начинаются в одно время
      %%      tf_worker_v2 - каждая свеча инитится по первому приходу тика
      {timeframe_module, tf_worker_v2},
      {cache_tables,
        [
          {daily, "CANDLES_DAILY", []}, %%имя таблицы, где хранить свечки
          {one_minute, "CANDLES_1MIN", []},
          {ten_minutes, "CANDLES_10MIN", []}
        ]
      },
      {cache_size, 100}, % максимальное количество свечек в кэше до момента их записи
      {cache_timeout, 2000}, % максимальное время нахождения свечек в кэше ( в миллисекундах),
      {fires_cache_size, 0},
      {fires_cache_timeout, 500},
      {mysql_candles_store,
        [
          {user, "rz_writer"},
          {password, "123456"},
          {database, "CANDLES"}
        ]
      },
      {mysql_config_store,
        [
          {user, "rz_config"},
          {password, "123456"},
          {database, "CONFIG"}
        ]
      },
      {pattern_names_to_frames,
        [
          {<<"D">>, daily},
          {<<"1">>, one_minute},
          {<<"10">>,ten_minutes}
        ]
      },
      {memcached_ip, "localhost"},
      {memcached_port, 11211},
      {patterns_executor,
        [{workers, 5}, {refire_timeout, 1200}, {frame_for_current_candle, <<"1">>}]
      },
      {http_port, 8081},
      {full_instr_file, "/tmp/iqinstr.csv"}, %% список ВСЕХ инструментов для всех клиентов
      {full_instr_file_header, 1} %%размер заголовка файла инструментов (акций),
    ]
  }
].

