[
  {lager,
    [{handlers,
      [{lager_console_backend, info},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
        {lager_file_backend, [{file, "log/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
      ]},
      {crash_log, "log/crash.log"},
      {crash_log_msg_size, 65536},
      {crash_log_size, 10485760},
      {crash_log_date, "$D0"},
      {crash_log_count, 5},
      {error_logger_redirect, true}]},

  {iqfeed_client,
    [
      {iqfeed_ip, "127.0.0.1"},
      {iqfeed_l1_port, 5009},
      {timezone_hours, -3}, %%разница между UTC и временем на бирже
      {instr_file, "/tmp/iqinstr.csv"},
      {instr_file_header, 1} %%размер заголовка файла инструментов (акций)
    ]
  },

  {rz_server,
    [
      %% время начала сессии - {Час, Минута, Секунда} задается в том же часовом поясе, что и тики с iqfeed
      {trading_start, {9, 30, 00}},
      {frames,
        [
          {
            %%уникальное имя тайм-фрейма
            daily,
            [
              %%имя таблицы, где хранить свечки
              {store_table, "CANDLES_DAILY"},
              %% 12 часов - должно быть больше, чем время сессии, и trading_start+duration должно быть меньше 24 часов
              %% в секундах;
              {duration, 43200}
            ]
          },
          {
            one_minute,
            [
              {store_table, "CANDLES_1MIN"},
              {duration, 60}
            ]
          },
          {
            ten_minutes,
            [
              {store_table, "CANDLES_10MIN"},
              {duration, 600}
            ]
          }
        ]
      }
    ]
  }
].

